<a href="https://colab.research.google.com/github/suryakokkiligadda2003/Python-mini-projects/blob/main/Introduction%20of%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Upload a CSV file
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
# Pandas - 2 types - series, Dataframes
# Series - [12,54,64,86,/]
# Dataframes -[]

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Credit_Card_Applications.csv')

In [ ]:
dataset

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [ ]:

# Get information related to dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  690 non-null    int64
 1   A1          690 non-null    int64
 2   A2          690 non-null    float64
 3   A3          690 non-null    float64
 4   A4          690 non-null    int64
 5   A5          690 non-null    int64
 6   A6          690 non-null    int64
 7   A7          690 non-null    float64
 8   A8          690 non-null    int64
 9   A9          690 non-null    int64
 10  A10         690 non-null    int64
 11  A11         690 non-null    int64
 12  A12         690 non-null    int64
 13  A13         690 non-null    int64
 14  A14         690 non-null    int64
 15  Class       690 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 86.4 KB

In [ ]:

# Check column names from the dataset
dataset.columns

Index(['CustomerID', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9',
       'A10', 'A11', 'A12', 'A13', 'A14', 'Class'],
      dtype='object')

In [ ]:
# Find out the math data / description from the dataset
dataset.describe()

,CustomerID,A1,A2,A3,A4,A5,A6,...,A9,A10,A11,A12,A13,A14,Class
count,6.900000e+02,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,...,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,1.569047e+07,0.678261,31.568203,4.758725,1.766667,7.372464,4.692754,...,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,7.150647e+04,0.467482,11.853273,4.978163,0.430063,3.683265,1.992316,...,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,1.556571e+07,0.000000,13.750000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,1.563169e+07,0.000000,22.670000,1.000000,2.000000,4.000000,4.000000,...,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,1.569016e+07,1.000000,28.625000,2.750000,2.000000,8.000000,4.000000,...,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,1.575190e+07,1.000000,37.707500,7.207500,2.000000,10.000000,5.000000,...,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,1.581544e+07,1.000000,80.250000,28.000000,3.000000,14.000000,9.000000,...,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

In [ ]:
# To read data cell from a selected row or column
# loc - iloc
# dframe.loc[rows,columnnames]
dataset.loc[0,'A7']

1.585

In [ ]:
dataset.loc[0,['A11','A2']]

A11     1.00
A2     22.08
Name: 0, dtype: float64

In [ ]:
# Find out single value
dataset.loc[1,'A2']

22.67

In [ ]:
#  Change any value
dataset.loc[1,'A2'] = 21

In [ ]:
# Change the number of elements (visible in the code editor output)
pd.set_option('display.max_columns',15)
pd.set_option('display.max_rows',50)

In [ ]:
# Head extracts only 20 as default value
dataset.head(20)

,CustomerID,A1,A2,A3,A4,A5,A6,...,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,...,0,0,1,2,100,1213,0
1,15739548,0,21.00,7.000,2,8,4,...,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,...,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,...,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,...,1,14,0,2,60,159,1
5,15571121,0,15.83,0.585,2,8,8,...,1,2,0,2,100,1,1
6,15726466,1,17.42,6.500,2,3,4,...,0,0,0,2,60,101,0
7,15660390,0,58.67,4.460,2,11,8,...,1,6,0,2,43,561,1
8,15663942,1,27.83,1.000,1,2,8,...,0,0,0,2,176,538,0
9,15638610,0,55.75,7.080,2,4,8,...,1,3,1,2,100,51,0
10,15644446,1,33.50,1.750,2,14,8,...,1,4,1,2,253,858,1
11,15585892,1,41.42,5.000,2,11,8,...,1,6,1,2,470,1,1
12,15609356,1,20.67,1.250,1,8,8,...,1,3,1,2,140,211,0
13,15803378,1,34.92,5.000,2,14,8,...,1,6,1,2,0,1001,1
14,15599440,1,58.58,2.710,2,8,4,...,0,0,1,2,320,1,0
15,15692408,1,48.08,6.040,2,4,4,...,0,0,0,2,0,2691,1
16,15683168,1,29.58,4.500,2,9,4,...,1,2,1,2,330,1,1
17,15790254,0,18.92,9.000,2,6,4,...,1,2,0,2,88,592,1
18,15767729,1,20.00,1.250,1,4,4,...,0,0,0,2,140,5,0
19,15768600,0,22.42,5.665,2,11,4,...,1,7,0,2,129,3258,1

In [ ]:
dataset.tail(10)

,CustomerID,A1,A2,A3,A4,A5,A6,...,A9,A10,A11,A12,A13,A14,Class
680,15790689,1,21.17,0.000,2,8,4,...,0,0,1,1,0,1,0
681,15665181,1,35.25,16.500,1,8,4,...,0,0,0,2,80,1,0
682,15633608,0,22.92,11.585,2,13,4,...,0,0,0,2,80,1350,1
683,15805261,0,48.17,1.335,2,3,7,...,0,0,0,2,0,121,0
684,15740356,1,43.00,0.290,1,13,8,...,1,8,0,2,100,376,1
685,15808223,1,31.57,10.500,2,14,4,...,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,...,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,...,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,...,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,...,1,1,0,1,560,1,1