<a href="https://colab.research.google.com/github/suryakokkiligadda2003/Python-mini-projects/blob/main/Retail_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Step 1: Data Loading & Parsing
import pandas as pd  # Importing pandas library

# Read the CSV file into a DataFrame
df = pd.read_csv("/retail_transactions.csv", parse_dates=["TransactionDate"])

# Step 2: Initial Data Exploration
print("First 15 rows of the DataFrame:")
print(df.head(15))  # Display first 15 rows

print("\nDataFrame Info:")
print(df.info())  # Summary of dataset including data types and missing values

print("\nDescriptive Statistics:")
print(df.describe())  # Summary statistics for numerical columns

# Step 3: Data Cleaning
# Check for missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

# Ensure Quantity, Price, and Discount are numeric
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")
df["Discount"] = pd.to_numeric(df["Discount"], errors="coerce")

# Fill missing discounts with 0%
df["Discount"].fillna(0, inplace=True)

# Step 4: Feature Engineering
df["NetPrice"] = df["Price"] * (1 - df["Discount"] / 100)  # Apply discount
df["TotalSale"] = df["Quantity"] * df["NetPrice"]  # Compute total sale

# Step 5: Data Filtering (TotalSale >= 20)
filtered_df = df[df["TotalSale"] >= 20]

# Step 6: Data Type Conversion
filtered_df["PaymentType"] = filtered_df["PaymentType"].astype("category")

# Step 7: Grouping and Aggregation
# Group by ProductCategory and calculate total Quantity and TotalSale
category_sales = (
    filtered_df.groupby("ProductCategory")[["Quantity", "TotalSale"]]
    .sum()
    .sort_values(by="TotalSale", ascending=False)
)

print("\nTotal Sales and Quantity per Product Category:")
print(category_sales)

# Identify top 3 product categories by TotalSale
top_3_categories = category_sales.head(3)
print("\nTop 3 Product Categories by Total Sales:")
print(top_3_categories)

# Step 8: Multi-Level Grouping (StoreID & ProductCategory)
store_product_sales = (
    filtered_df.groupby(["StoreID", "ProductCategory"])["TotalSale"].mean()
    .reset_index()
    .rename(columns={"TotalSale": "AvgTotalSale"})
)

print("\nAverage Total Sale per Transaction (Grouped by Store and Product Category):")
print(store_product_sales)

# Step 9: Store-Level Insights
# Determine highest AvgTotalSale product category per store
store_top_category = (
    store_product_sales.loc[
        store_product_sales.groupby("StoreID")["AvgTotalSale"].idxmax()
    ]
)

print("\nTop Product Category by Store (Highest Avg TotalSale):")
print(store_top_category)

# Step 10: Documentation (Code is well-commented throughout)

First 15 rows of the DataFrame:
   TransactionID TransactionDate  StoreID  CustomerID  ProductID  \
0           T001      2024-01-01      102        1646        545
1           T002      2024-01-02      103        1226        542
2           T003      2024-01-03      102        1515        593
3           T004      2024-01-04      103        1793        560
4           T005      2024-01-05      105        1864        523
5           T006      2024-01-06      103        1836        515
6           T007      2024-01-07      103        1983        586
7           T008      2024-01-08      101        1806        569
8           T009      2024-01-09      101        1925        548
9           T010      2024-01-10      101        1711        565
10          T011      2024-01-11      103        1276        565
11          T012      2024-01-12      101        1486        523
12          T013      2024-01-13      103        1597        516
13          T014      2024-01-14      101        1462        520
14          T015      2024-01-15      104        1668        581

   ProductCategory  Quantity  Price PaymentType  Discount
0      Electronics         1    150      Credit      15.0
1             Toys         2    317       Debit      10.0
2      Electronics         5    165       Debit       NaN
3        Furniture         6    496       Debit      10.0
4          Grocery        10    166       Debit       0.0
5          Grocery         9    227       Debit       NaN
6      Electronics         1    170      Credit       NaN
7             Toys         4    500       Debit       0.0
8          Apparel         7    217        Cash      10.0
9        Furniture         3    466       Debit       5.0
10       Furniture         1    321        Cash       NaN
11            Toys         8    426      Credit       5.0
12            Toys         5    262        Cash      15.0
13     Electronics        10    218        Cash       NaN
14            Toys         4    201       Debit      15.0

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    100 non-null    object
 1   TransactionDate  100 non-null    datetime64[ns]
 2   StoreID          100 non-null    int64
 3   CustomerID       100 non-null    int64
 4   ProductID        100 non-null    int64
 5   ProductCategory  100 non-null    object
 6   Quantity         100 non-null    int64
 7   Price            100 non-null    int64
 8   PaymentType      100 non-null    object
 9   Discount         75 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 7.9+ KB
None

Descriptive Statistics:
           TransactionDate     StoreID   CustomerID   ProductID    Quantity  \
count                  100  100.000000   100.000000  100.000000  100.000000
mean   2024-02-19 12:00:00  102.730000  1552.520000  554.390000    5.370000
min    2024-01-01 00:00:00  101.000000  1013.000000  501.000000    1.000000
25%    2024-01-25 18:00:00  101.000000  1310.250000  529.750000    3.000000
50%    2024-02-19 12:00:00  103.000000  1534.000000  554.000000    5.500000
75%    2024-03-15 06:00:00  104.000000  1800.750000  579.500000    8.000000
max    2024-04-09 00:00:00  105.000000  1983.000000  600.000000   10.000000
std                    NaN    1.384291   268.295461   28.544098    3.013957

           Price   Discount
count  100.00000  75.000000
mean   282.15000   7.733333
min     50.00000   0.000000
25%    165.75000   2.500000
50%    280.00000  10.000000
75%    415.25000  12.500000
max    500.00000  15.000000
std    140.19938   5.652871

Missing Values per Column:
TransactionID       0
TransactionDate     0
StoreID             0
CustomerID          0
ProductID           0
ProductCategory     0
Quantity            0
Price               0
PaymentType         0
Discount           25
dtype: int64

Total Sales and Quantity per Product Category:
                 Quantity  TotalSale
ProductCategory
Toys                  137   44326.35
Furniture             130   39655.55
Apparel               117   28055.35
Grocery                75   17585.80
Electronics            78   15980.65

Top 3 Product Categories by Total Sales:
                 Quantity  TotalSale
ProductCategory
Toys                  137   44326.35
Furniture             130   39655.55
Apparel               117   28055.35

Average Total Sale per Transaction (Grouped by Store and Product Category):
    StoreID ProductCategory  AvgTotalSale
0       101         Apparel   1344.550000
1       101     Electronics   1128.916667
2       101       Furniture   1317.943750
3       101            Toys   2227.016667
4       102         Apparel   1452.180000
5       102     Electronics    591.380000
6       102       Furniture   2565.900000
7       102         Grocery    171.900000
8       102            Toys   1036.557143
9       103         Apparel   1021.950000
10      103     Electronics    817.666667
11      103       Furniture   1560.771429
12      103         Grocery    954.850000
13      103            Toys   1239.180000
14      104         Apparel    722.000000
15      104     Electronics    852.333333
16      104       Furniture   1528.928571
17      104         Grocery   1118.833333
18      104            Toys   1367.700000
19      105         Apparel   2398.450000
20      105     Electronics   2313.500000
21      105       Furniture   1176.150000
22      105         Grocery   2047.600000
23      105            Toys   4048.000000

Top Product Category by Store (Highest Avg TotalSale):
    StoreID ProductCategory  AvgTotalSale
3       101            Toys   2227.016667
6       102       Furniture   2565.900000
11      103       Furniture   1560.771429
16      104       Furniture   1528.928571
23      105            Toys   4048.000000

<ipython-input-2-95ccdf95b9b5>:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Discount"].fillna(0, inplace=True)