<a href="https://colab.research.google.com/github/suryakokkiligadda2003/Python-mini-projects/blob/main/Testing_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
from datetime import datetime

# Given Employee Data
data = {
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jane',
        'Karl', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing', 'Sales', 'HR',
        'IT', 'Finance', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Marketing',
        'HR', 'Finance', 'Sales', 'IT', 'Marketing', 'Finance'
    ],
    'Salary': [
        50000, 60000, 55000, 70000, 48000, 62000, 65000, 52000, 58000, 51000,
        75000, 53000, 60000, 57000, 67000, 49500, 61000, 59000, 72000, 54000,
        47000, 56000, 61000, 68000, 55000, 64000
    ],
    'Join_Date': [
        '2020-05-21', '2019-03-15', '2021-07-10', '2018-11-01', '2022-01-05', '2017-09-12',
        '2020-06-30', '2019-08-20', '2021-02-11', '2020-12-01', '2016-04-25', '2019-11-15',
        '2020-03-03', '2022-04-10', '2018-07-18', '2017-10-22', '2015-05-09', '2020-09-14',
        '2021-01-19', '2016-12-30', '2023-01-11', '2018-02-27', '2019-06-06', '2020-08-08',
        '2021-03-22', '2017-01-17'
    ]
}

# 1. Load the data into a Pandas DataFrame
df = pd.DataFrame(data)

# Convert Join_Date to datetime format
df['Join_Date'] = pd.to_datetime(df['Join_Date'])

# 2. Display names of employees who joined after January 1, 2020
employees_after_2020 = df[df['Join_Date'] > '2020-01-01']['Name']
print("Employees who joined after Jan 1, 2020:")
print(employees_after_2020.to_list())

# 3. Calculate the average salary for each department
avg_salary_by_department = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary per Department:")
print(avg_salary_by_department)

# 4. Identify the department with the highest average salary
highest_avg_salary_dept = avg_salary_by_department.idxmax()
print("\nDepartment with the highest average salary:", highest_avg_salary_dept)

# 5. Add a new column "Years_with_Company" to calculate full years with the company
today = datetime.today()
df['Years_with_Company'] = df['Join_Date'].apply(lambda x: today.year - x.year - ((today.month, today.day) < (x.month, x.day)))

# 6. Sort the DataFrame by Years_with_Company in descending order
df_sorted = df.sort_values(by='Years_with_Company', ascending=False)

# 7. Save the updated DataFrame to a new CSV file
df_sorted.to_csv("updated_employees.csv", index=False)

print("\nUpdated DataFrame has been saved as 'updated_employees.csv'.")

Employees who joined after Jan 1, 2020:
['Alice', 'Charlie', 'Eva', 'Grace', 'Ian', 'Jane', 'Mike', 'Nina', 'Rachel', 'Steve', 'Uma', 'Xander', 'Yara']

Average Salary per Department:
Department
Finance      58500.000000
HR           49100.000000
IT           68142.857143
Marketing    54500.000000
Sales        59500.000000
Name: Salary, dtype: float64

Department with the highest average salary: IT

Updated DataFrame has been saved as 'updated_employees.csv'.